#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: aliceblue;

}


#pages {
  display: flex;
  gap: 30px;
  background-color: white;
  padding:  8px 15px; 
  padding-bottom: 15px;
  padding-top: 15px;
}


#pages a {
  text-decoration: none;
  color: black;
  padding: 8px 15px;
  border-radius: 6px;
  transition: 0.3s ease;

}


#pages a:hover {
  background-color: green;

  color: white;
}


#icons {
  display: flex;
  gap: 20px;

}

#icons img {
  width: 20px;   
  height: 20px;
  object-fit: contain;
}

#welcome {
  margin: 40px 60px; 
  padding: 40px;
  background-color: green;
  color: white;
  border-radius: 10px;
 
}

#stats-container {
  display: flex;
  gap: 30px;
  margin: 40px 60px;
  justify-content: space-between;
}


#stat-card {
  background-color: white;
  padding: 25px;
  width: 220px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.3s ease;
}


#stat-card:hover {
  transform: translateY(-5px);
}


#stat-card .icon {
  font-size: 30px;
  margin-bottom: 10px;
}


#stat-card h3 {
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
}


#stat-card p {
  font-size: 22px;
  font-weight: bold;
}
#logo{
  background-color: white;
  padding:  8px 15px; 
  padding-bottom: 15px;
  padding-top: 15px;
}


.container{
  background: #fff;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0, 0.08);
}

.title{
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.top-bar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-class-btn{
  background-color: #4CAF50;
  color:white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.add-class-btn :hover{
  background-color: #45a049;
}

.search{
    padding: 8px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.row{
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.header{
    background-color: #f0f0f0;
    font-weight: bold;
    color: #555;
}

.col{
    display: flex;
}

.col.class-name{
  width: 30%;
}

.col.students{
  width: 30%;
}

.col.time{
  width: 40%;
}