body {
    font-family: Arial, sans-serif;
    background-color: #a09d9d;
    margin: 0;
    padding: 0;
}

.image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#logo {
    width: 150px;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
}

#form-container {
    background-color: #fbf8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    gap: 20px;
    margin-top: 70px;

}

#studentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#name {
    width: 350px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 16px;
}

#CourseEnrolled {
    width: 350px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 16px;
}

#CourseDuration {
    width: 350px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 16px;
}

#name::placeholder {
    color: #999;
    text-align: center;
}

#CourseEnrolled::placeholder {
    color: #999;
    text-align: center;
}

#CourseDuration::placeholder {
    color: #999;
    text-align: center;
}

button {
    background-color: #0a8414;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}