body {
    margin: 0;
    padding: 1pc;
}
.list{
    border: 2px solid black;
    display: flex;
    gap: 20px;
    width: 650px;
    margin: 40px auto;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0,  0, 0.1);

}
.student-list{
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.student-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px; */
    gap: 100px;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-left: 40px;
    margin-right: 40px;
}

/* .class-list{
    display: flex;
    justify-content: space-between;
    font-size: large;
    /* background-color: grey; */
    /* height: 50px;
    padding: 10px; */
  /* margin-left: 20px; */
    /* margin-top: 30px;
    border-radius: 8px; */


.class-list {
     display: flex;
    justify-content: space-between;
    align-items: center; 
     background-color: #e9edf3;
     border-radius: 8px;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
   background-color: grey;
    border: 2px solid black;
     height: 50px;
   margin-top: 20px;
    width: 512px;
    margin-left:20px;

}

.searchbox input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.student-list table{
    width: 100%;
    border-collapse: collapse;
}

.student-list th, td{
    padding: 10px;
    text-align: left;
}

.assigned{
    background-color: green;
    color: black;
    padding: 5px 10px;
    border-radius: 70px;
}

.pending {
    background-color: red;
    color: black;
    padding: 5px 10px;
    border-radius: 70px;
}

.actions{
    display: flex;
    gap: 10px;
}

.actions button{
    padding: 5px;
    border: none;
    background: green;
    color: black;
}

.view-all{
    display: inline-block;
    margin-top: 10px;
    text-decoration: overline;
    color: black;
}

.ongoing{
    border: 2px solid black;
    width: 30%;
}
#student{
    margin-left: 20px;
}
#class{
    margin-right: 60px;
}